@import "tailwindcss";

@font-face{
    font-family: 'Bubble';
    src: url('/GameBubleDEMO.otf') format('opentype');
}

@font-face{
    font-family: 'Game';
    src: url('/dropthegame.ttf') format('truetype');
}

:root{
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

body{
    line-height: 1.5;
}

#root{
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid yellow; */
}

main{
    height: 100%;
    /* border: 1px solid red; */
    /* background-color: black; */
}

#home{
    height: 100%;
    background: url("/words.PNG") no-repeat right, linear-gradient(to top left, rgb(38, 179, 38), rgb(92, 250, 92), white);
}

#letters{
    /* border: 1px solid red; */
    height: 600px;
    display: flex;
    align-items: center;
}

.bottom{
    display: flex;
    position: relative;
    height: min-content;
}

.top{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.bottom div{
    flex: 1;
    font-size: 16rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.top div{
    flex: 1;
    /* border: 1px solid red; */
    font-size: 25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

thead td{
    padding: 20px 0px;
}

tbody td{
    padding: 15px 0px;
}

tr{
    display: flex;
    border-bottom: 1px solid rgb(156, 156, 156);
}

td{
    border-right: rgb(156, 156, 156) 1px solid;
    flex: 1;
    text-align: center;
}

input{
    border-bottom: 1px solid gray;
    max-width: 100px;
    outline: none;
}

td:last-child{
    flex: 1 1 6%;
    font-weight: bold;
}

tbody td:last-child{
    /* color: white; */
}

input, button, textarea, select{
    font: inherit;
}

#home button{
    font-weight: bold;
    cursor: pointer;
}

#home button:hover{
    scale: 1.1;
}

#home > div > div > div{
    display: flex;
    justify-content: center;
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

p{
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
}


/* @media only screen and (max-width: 600px){

    form{
        scale: .9;
    }
}

@media only screen and (max-width: 700px){

    #cv{
        scale: .9;
    }
} */
